<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org ">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Education Form</title>

    <th:block th:replace="base :: head"></th:block>
</head>
<body>
<th:block th:replace="base :: nav"></th:block>
  
  <div class="container">
    <div class="starter-template">
        <h1>Robo Resume</h1>
     </div>
    <form th:action="@{/experianceForm}" th:object="${exp}" method="post">
        <div><label>Company: <input type="text" th:field="*{company}" /> </label></div>
        <div><label>Position: <input type="text" th:field="*{position}" /> </label></div>
        <div><label>Starting Year <input type="text" th:field="*{startingYear}" /></label></div>
        <div><label>End Year <input type="text" th:field="*{endYear}" /></label></div>
        <div><label>Duty <input type="text" th:field="*{duty}" /></label></div>
        <div><input type="radio" name="action" value="continue"/> Add another Experience
		<input type="radio" name="action" value="next" checked="true"/>Go to Next page</div>
         
        <div><input type="submit" value="Submit"/> </div>
    </form>
</div><!-- /.container -->

<th:block th:replace="base :: footlinks"></th:block>
           
  </body>
</html>
