<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org ">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Robo Resume</title>

    <th:block th:replace="base :: head"></th:block>
</head>
<body>
<th:block th:replace="base :: nav"></th:block>
  
  <div class="container">
    <div class="starter-template">
        <h1>Robo Resume</h1>
        
    </div>
		   
		    
	
        <div class="container">
           <h2>Your Profile Page</h2>
					<table >

               			 <div th:each="list : ${newValue1}">

	                   		 <tr>
	                    			<td th:text = "${list.fname}"></td>
	                        		<td th:text = "${list.lname}">></td>                      
	                    	</tr> 
	                    	<tr>
	                    			<td th:text = "${list.email}"></td> 
	                    	</tr>                  
              		 	</div>
            		</table>
            		
            		<table >
						<h4> Education </h4>
               			 <div th:each="list2 : ${newValue2}">

	                   		 <tr>
	                    			<td th:text = "${list2.degree}"></td>
	                        		                      
	                    	</tr> 
	                    	<tr>
	                    			<td th:text = "${list2.institution}"></td>
	                    			<td th:text = "${list2.year}"></td> 
	                    	</tr>                  
              		 	</div>
            		</table>
					<table >
						<h4> Experience </h4>
               			 <div th:each="list3 : ${newValue3}">

	                   		 <tr>
	                    			<td th:text = "${list3.company}"></td>
	                        		                      
	                    	</tr> 
	                    	<tr>
	                    			<td th:text = "${list3.position}">></td>
	                    			<td th:text = "${list3.startingYear}"></td>
	                    			<td th:text = "${list3.endYear}"></td>
	                    	</tr> 
	                    	<tr>
	                    			
	                    			<td th:text = "${list3.duty}"></td>
	                        		                   
	                    	</tr>                 
              		 	</div>
            		</table>
  					<table >
						<h4> Skills With Rating </h4>
               			 <div th:each="list4 : ${newValue4}">

	                   		 <tr>
	                    			<td th:text = "${list4.skills}"></td>
	                        		<td th:text = "${list4.rating}">></td>                      
	                    	</tr> 
	                    	                 
              		 	</div>
            		</table>
            		<br/>
            		<br/>
              
        </div>
    </div>
   
 
</body>
</html>