<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
         xmlns:th="http://www.thymeleaf.org"
         xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Robo Resume</title>
    <th:block th:replace="base :: head"></th:block>
</head>
<body>
<th:block th:replace="base :: nav"></th:block>

<div class="container">
    <br /><br /><br />
    <h4>Recruiter Registration Page</h4>


<form autocomplete="off" action="#" th:action="@{/registerRec}" th:object="${user}" method="post">
        <div><label> First Name :<span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name Error</span> 
        			 <input type="text" class="form-control" id="firstName" placeholder="First Name" th:field="*{firstName}" /> </label></div>
        <div><label> Last Name : <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name Error</span> 
        			<input type="text" class="form-control" id="lastName" placeholder="Last Name" th:field="*{lastName}" /></label></div>
        <div><label> Email :<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</span> 
        			 <input type="text" class="form-control" id="email" placeholder="Email" th:field="*{email}" /></label></div>
        <div><label> Username :<span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</span> 
        			 <input type="text" class="form-control" id="username" placeholder="Username" th:field="*{username}" /></label></div>
        <div><label> Password :<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</span> 
        			 <input type="text" class="form-control" id="password" placeholder="Password" th:field="*{password}" /></label></div>
        <div><button type="submit" class="btn btn-default">Submit</button></div>
        
    </form>


</div><!-- /.container -->

<th:block th:replace="base :: footlinks"></th:block>
</body>
</html>